body {
    margin: 60px auto;
    width: 70%;
}

p {
  font-family: Georgia;
}
nav ul, footer ul {
    font-family: 'Helvetica' , 'Sans-Serif', 'Avenir';
    padding: 0px;
    margin-left: 600px;
    list-style: none;
    font-weight: bold;
    color: #396a93;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 50px;
}
a {
    text-decoration: none;
    color: #4682B4;
}
a:hover {
    text-decoration: underline;
}

A.class1 {color:#4682B4;}
A.class1:link  {text-decoration: none; color: #4682B4;}
A.class1:visited {text-decoration: none; color: #4682B4;}
A.class1:hover {text-decoration: underline; color: #4682B4;}
A.class1:active {text-decoration: none; color: #4682B4;}


A.class2 {color:#396a93;}
A.class2:link {text-decoration: none; color: #396a93;}
A.class2:visited {text-decoration: none; color: #396a93;}
A.class2:hover {text-decoration: underline; color: #396a93;}
A.class2:active {text-decoration: none; color: #396a93;}

h1 {
    font-size: 3em;
    font-family:'Helvetica'; 
}

h2 {
    font-size: 2em;
    font-family: 'Helvetica' , 'Avenir', 'Sans-Serif';
}

h3 {
    font-size: 1.5em;
    font-family: 'Helvetica' , 'Sans-Serif', 'Avenir';
    font-weight: 650
}

h4 {
    font-size: 1.3em;
    font-family: 'Helvetica' , 'Sans-Serif', 'Avenir';
    font-weight: normal;
}

p {
    font-family: 'Helvetica' , 'Sans-Serif', 'Avenir';
    font-weight: 300;
    font-size: 1.1em;
    line-height: 1.5em;
    color: #333;
}

.rightside_image {
  float: right;
  margin-top:0px;
  margin-right: 10px;
  margin-left: 15px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 0.8em;
  font-style: italic;
  border-radius: 15%;
  max-width: 35%;
  height: auto;
}

.leftside_image {
  float: left;
  margin-top:0px;
  margin-right: 30px;
  margin-left: 0px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 0.8em;
  font-style: italic;
  border-radius: 15%;
  max-width: 100%;
  height: auto;
}
footer {
    margin-top: 100px;
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    color: #999999;
    font-weight:lighter;
}

ul li{
    font-family: 'Helvetica' , 'Sans-Serif', 'Avenir';
    font-weight: lighter;
    font-size:1.3em;
    line-height: 1.4em;
    list-style-type: square;
}

ol li{
    font-family: 'Helvetica','Sans-Serif', 'Avenir', ;
    font-weight: normal;
    font-size:1.1em;
    line-height: 1.5em;
    list-style-type: square;
    margin-right: 45px;
    margin-top: 25px;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}


/*for responsive square grid*/

.c-container{
    height:100%;
    margin-top:50px;
    white-space:nowrap;
    background-color:#FFFFFF;
    font-size:0;
}

/*.c-squares{
    width:30vh;
    height:30vh;
    display:inline;
}*/

.c-link{
    position:relative;
    display:inline-block;
    height:30vh;
    width:30vh;
    font-size:small;
}
.c-thumb{
    height:30vh;
    width:30vh;
    margin:0;
}

.c-name{
    z-index:5;
    background-color:#14277D;
    opacity:0;
    /* cosmetic */ color:#FFF;font-size:2em;transition:opacity 500ms;
}
.c-name2{
    z-index:5;
    background-color:#000;
    opacity:0;
    /* cosmetic */ color:#FFF;font-size:2em;transition:opacity 500ms;
}

.c-link:hover .c-name{
    opacity:0.8;
}

.c-link:hover .c-name2{
    opacity:0.8;
}



/* used class from site css */
br.empty{
    display:block;
    font-size:0;margin:0;padding:0;height:0;line-height:0;
}

.stm{
    position:absolute;
    top:0;right:0;bottom:0;left:0;
    margin:0;
}